body {
  margin: 0;
}
body,
.body-font {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}
.body-font-bold {
  font-size: 12px;
  line-height: 20px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-weight: 700;
}
h1,
.h1 {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
}
h2,
.h2 {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
}
h3,
.h3 {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
a {
  color: #2a60c8;
  text-decoration: underline;
  border-radius: 2px;
}
a:hover {
  color: #2754ac;
}
a:active {
  color: #23478f;
}
a:focus {
  outline: none;
  box-shadow: 0 0 0 1px #fdfdfd, 0 0 0 4px #aac9ff;
}
table a {
  color: #2a60c8;
  text-decoration: underline;
  border-radius: 2px;
  text-decoration: none;
}
table a:hover {
  color: #2754ac;
}
table a:active {
  color: #23478f;
}
table a:focus {
  outline: none;
  box-shadow: 0 0 0 1px #fdfdfd, 0 0 0 4px #aac9ff;
}
.gux-large-text {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.gux-small-text {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
}
.gux-label {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}
.gux-sr-only {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.gux-sr-only-clip:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
.gux-anchor {
  color: #2a60c8;
  text-decoration: underline;
  border-radius: 2px;
}
.gux-anchor:hover {
  color: #2754ac;
}
.gux-anchor:active {
  color: #23478f;
}
.gux-anchor:focus {
  outline: none;
  box-shadow: 0 0 0 1px #fdfdfd, 0 0 0 4px #aac9ff;
}
.gux-anchor-table {
  color: #2a60c8;
  text-decoration: underline;
  border-radius: 2px;
  text-decoration: none;
}
.gux-anchor-table:hover {
  color: #2754ac;
}
.gux-anchor-table:active {
  color: #23478f;
}
.gux-anchor-table:focus {
  outline: none;
  box-shadow: 0 0 0 1px #fdfdfd, 0 0 0 4px #aac9ff;
}
.gux-icon-anchor gux-icon {
  padding-right: 8px;
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: url("/assets/fonts/roboto-v20-latin-300.eot");
  src: local("Roboto Light"), local("Roboto-Light"),
    url("/assets/fonts/roboto-v20-latin-300.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/roboto-v20-latin-300.woff2") format("woff2"),
    url("/assets/fonts/roboto-v20-latin-300.woff") format("woff"),
    url("/assets/fonts/roboto-v20-latin-300.ttf") format("truetype"),
    url("/assets/fonts/roboto-v20-latin-300.svg#Roboto") format("svg");
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/roboto-v20-latin-regular.eot");
  src: local("Roboto"), local("Roboto-Regular"),
    url("/assets/fonts/roboto-v20-latin-regular.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/roboto-v20-latin-regular.woff2") format("woff2"),
    url("/assets/fonts/roboto-v20-latin-regular.woff") format("woff"),
    url("/assets/fonts/roboto-v20-latin-regular.ttf") format("truetype"),
    url("/assets/fonts/roboto-v20-latin-regular.svg#Roboto") format("svg");
}
@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 400;
  src: url("/assets/fonts/roboto-v20-latin-italic.eot");
  src: local("Roboto Italic"), local("Roboto-Italic"),
    url("/assets/fonts/roboto-v20-latin-italic.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/roboto-v20-latin-italic.woff2") format("woff2"),
    url("/assets/fonts/roboto-v20-latin-italic.woff") format("woff"),
    url("/assets/fonts/roboto-v20-latin-italic.ttf") format("truetype"),
    url("/assets/fonts/roboto-v20-latin-italic.svg#Roboto") format("svg");
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/roboto-v20-latin-700.eot");
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("/assets/fonts/roboto-v20-latin-700.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/roboto-v20-latin-700.woff2") format("woff2"),
    url("/assets/fonts/roboto-v20-latin-700.woff") format("woff"),
    url("/assets/fonts/roboto-v20-latin-700.ttf") format("truetype"),
    url("/assets/fonts/roboto-v20-latin-700.svg#Roboto") format("svg");
}
.gux-shadow-10 {
  box-shadow: 0 0 2px rgba(32, 41, 55, 0.16);
}
.gux-shadow-20 {
  box-shadow: 0 2px 4px rgba(32, 41, 55, 0.24);
}
.gux-shadow-30 {
  box-shadow: 0 8px 24px rgba(32, 41, 55, 0.4);
}
:root {
  --gux-blue-10: #172b52;
  --gux-blue-20: #1c3363;
  --gux-blue-30: #203b73;
  --gux-blue-40: #23478f;
  --gux-blue-50: #2754ac;
  --gux-blue-60: #2a60c8;
  --gux-blue-70: #5084e3;
  --gux-blue-80: #75a8ff;
  --gux-blue-90: #aac9ff;
  --gux-blue-100: #deeaff;
  --gux-black-10: #000000;
  --gux-black-20: #151d28;
  --gux-black-30: #202937;
  --gux-black-40: #283243;
  --gux-black-50: #2e394c;
  --gux-black-60: #364154;
  --gux-black-70: #3e4a5b;
  --gux-black-80: #4c5667;
  --gux-black-90: #596373;
  --gux-black-100: #6b7585;
  --gux-grey-10: #8a97ad;
  --gux-grey-20: #99a4b8;
  --gux-grey-30: #b4bccb;
  --gux-grey-40: #c8cfda;
  --gux-grey-50: #d7dce5;
  --gux-grey-60: #e2e6ee;
  --gux-grey-70: #e8ecf2;
  --gux-grey-80: #eff1f5;
  --gux-grey-90: #f6f7f9;
  --gux-grey-100: #fdfdfd;
  --gux-alert-red-10: #520404;
  --gux-alert-red-20: #700505;
  --gux-alert-red-30: #8f0707;
  --gux-alert-red-40: #ad0808;
  --gux-alert-red-50: #cc0a0a;
  --gux-alert-red-60: #ea0b0b;
  --gux-alert-red-70: #ef4343;
  --gux-alert-red-80: #f37a7a;
  --gux-alert-red-90: #f8b2b2;
  --gux-alert-red-100: #fceaea;
  --gux-alert-yellow-10: #523800;
  --gux-alert-yellow-20: #755000;
  --gux-alert-yellow-30: #976700;
  --gux-alert-yellow-40: #ba7f00;
  --gux-alert-yellow-50: #dc9600;
  --gux-alert-yellow-60: #ffae00;
  --gux-alert-yellow-70: #fbbe3b;
  --gux-alert-yellow-80: #fcd276;
  --gux-alert-yellow-90: #fce5b1;
  --gux-alert-yellow-100: #fdf8ec;
  --gux-alert-green-10: #0d3d00;
  --gux-alert-green-20: #164b08;
  --gux-alert-green-30: #205a10;
  --gux-alert-green-40: #296817;
  --gux-alert-green-50: #33771f;
  --gux-alert-green-60: #3c8527;
  --gux-alert-green-70: #69a358;
  --gux-alert-green-80: #95c189;
  --gux-alert-green-90: #c2deb9;
  --gux-alert-green-100: #eefcea;
  --gux-navy-sec: #203b73;
  --gux-blue-sec: #75a8ff;
  --gux-electric-purple-sec: #8452cf;
  --gux-plum-sec: #5e5782;
  --gux-lilac-sec: #b5b5eb;
  --gux-fuscha-sec: #cc3ebe;
  --gux-fuchsia-sec: #cc3ebe;
  --gux-bubblegum-pink-sec: #ff8fdd;
  --gux-aqua-green-sec: #1da8b3;
  --gux-olive-green-sec: #868c1e;
  --gux-alert-yellow-green-sec: #ddd933;
  --gux-dark-purple-sec: #5e5782;
  --gux-blue: #75a8ff;
  --gux-charcoal-grey: #444a52;
  --gux-dark-blue: #2a60c8;
  --gux-off-white: #fdfdfd;
  --gux-warm-red: #ff4f1f;
  --gux-soft-grid-increment: 2px;
  --gux-spacing-3xs: 2px;
  --gux-spacing-2xs: 4px;
  --gux-spacing-xs: 8px;
  --gux-spacing-small: 12px;
  --gux-spacing-medium: 16px;
  --gux-spacing-large: 24px;
  --gux-spacing-xl: 32px;
  --gux-spacing-2xl: 40px;
  --gux-spacing-3xl: 48px;
  --gux-spacing-4xl: 64px;
  --soft-grid-increment: 2px;
  --spacing-3xs: 2px;
  --spacing-2xs: 4px;
  --spacing-xs: 8px;
  --spacing-small: 12px;
  --spacing-medium: 16px;
  --spacing-large: 24px;
  --spacing-xl: 32px;
  --spacing-2xl: 40px;
  --spacing-3xl: 48px;
  --spacing-4xl: 64px;
  --gux-zindex-modal: 1;
  --gux-zindex-popover: 2;
  --gux-zindex-popup: 1;
  --gux-zindex-tooltip: 1;
}

gux-form-field-checkbox input[type="checkbox"]::before {
  grid-area: 1;
  content: "";
  border-radius: 15%;
}
gux-form-field-checkbox input[type="checkbox"]:focus-within::before {
  outline: none;
  box-shadow: 0 0 0 1px #fdfdfd, 0 0 0 4px #aac9ff;
}
gux-form-field-checkbox input[type="checkbox"]:not(:checked)::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.3077 1.84615H3.69231C2.67271 1.84615 1.84615 2.67271 1.84615 3.69231V12.3077C1.84615 13.3273 2.67271 14.1538 3.69231 14.1538H12.3077C13.3273 14.1538 14.1538 13.3273 14.1538 12.3077V3.69231C14.1538 2.67271 13.3273 1.84615 12.3077 1.84615ZM3.69231 0C1.6531 0 0 1.6531 0 3.69231V12.3077C0 14.3469 1.6531 16 3.69231 16H12.3077C14.3469 16 16 14.3469 16 12.3077V3.69231C16 1.6531 14.3469 0 12.3077 0H3.69231Z' fill='%2377828f'/%3E%3C/svg%3E");
}
gux-form-field-checkbox input[type="checkbox"]:not(:checked):not(:disabled):not(:indeterminate):hover::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.3077 1.84615H3.69231C2.67271 1.84615 1.84615 2.67271 1.84615 3.69231V12.3077C1.84615 13.3273 2.67271 14.1538 3.69231 14.1538H12.3077C13.3273 14.1538 14.1538 13.3273 14.1538 12.3077V3.69231C14.1538 2.67271 13.3273 1.84615 12.3077 1.84615ZM3.69231 0C1.6531 0 0 1.6531 0 3.69231V12.3077C0 14.3469 1.6531 16 3.69231 16H12.3077C14.3469 16 16 14.3469 16 12.3077V3.69231C16 1.6531 14.3469 0 12.3077 0H3.69231Z' fill='%232a60c8'/%3E%3C/svg%3E");
}
gux-form-field-checkbox input[type="checkbox"]:checked::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.69231 0H12.3077C13.287 0 14.2261 0.38901 14.9185 1.08145C15.611 1.77389 16 2.71305 16 3.69231V12.3077C16 13.287 15.611 14.2261 14.9185 14.9185C14.2261 15.611 13.287 16 12.3077 16H3.69231C2.71305 16 1.77389 15.611 1.08145 14.9185C0.38901 14.2261 0 13.287 0 12.3077V3.69231C0 2.71305 0.38901 1.77389 1.08145 1.08145C1.77389 0.38901 2.71305 0 3.69231 0ZM5.62483 11.5936C5.79089 11.7597 6.00122 11.8372 6.21155 11.8372C6.43295 11.8372 6.64329 11.7486 6.79827 11.5936L13.2854 5.10652C13.6064 4.78549 13.6064 4.25412 13.2854 3.93308C12.9643 3.61205 12.433 3.61205 12.1119 3.93308L6.21155 9.83348L3.87575 7.4866C3.55472 7.16557 3.02335 7.16557 2.70231 7.4866C2.38128 7.80764 2.38128 8.339 2.70231 8.66004L5.62483 11.5936Z' fill='%232a60c8'/%3E%3C/svg%3E");
}
gux-form-field-checkbox input[type="checkbox"]:indeterminate::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.69231 1.84615H12.3077C13.3273 1.84615 14.1538 2.67271 14.1538 3.69231V12.3077C14.1538 13.3273 13.3273 14.1538 12.3077 14.1538H3.69231C2.67271 14.1538 1.84615 13.3273 1.84615 12.3077V3.69231C1.84615 2.67271 2.67271 1.84615 3.69231 1.84615ZM0 3.69231C0 1.6531 1.6531 0 3.69231 0H12.3077C14.3469 0 16 1.6531 16 3.69231V12.3077C16 14.3469 14.3469 16 12.3077 16H3.69231C1.6531 16 0 14.3469 0 12.3077V3.69231ZM4.00028 9.2308H12.0003C12.5049 9.2308 12.9234 8.81234 12.9234 8.30773C12.9234 7.80311 12.5049 7.38465 12.0003 7.38465H4.00028C3.49567 7.38465 3.07721 7.80311 3.07721 8.30773C3.07721 8.81234 3.49567 9.2308 4.00028 9.2308Z' fill='%232a60c8'/%3E%3C/svg%3E");
}
gux-form-field-checkbox input[type="checkbox"]:disabled::before {
  cursor: not-allowed;
  opacity: 0.5;
}
gux-form-field-checkbox.gux-input-error input[type="checkbox"]:not(:checked)::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.3077 1.84615H3.69231C2.67271 1.84615 1.84615 2.67271 1.84615 3.69231V12.3077C1.84615 13.3273 2.67271 14.1538 3.69231 14.1538H12.3077C13.3273 14.1538 14.1538 13.3273 14.1538 12.3077V3.69231C14.1538 2.67271 13.3273 1.84615 12.3077 1.84615ZM3.69231 0C1.6531 0 0 1.6531 0 3.69231V12.3077C0 14.3469 1.6531 16 3.69231 16H12.3077C14.3469 16 16 14.3469 16 12.3077V3.69231C16 1.6531 14.3469 0 12.3077 0H3.69231Z' fill='%23ea0b0b'/%3E%3C/svg%3E");
}
gux-form-field-number input {
}
gux-form-field-number input::-webkit-outer-spin-button,
gux-form-field-number input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
gux-form-field-number input[type="number"] {
  -moz-appearance: textfield;
}
gux-form-field-radio input[type="radio"]::before {
  grid-area: 1;
  content: "";
  border-radius: 50%;
}
gux-form-field-radio input[type="radio"]:focus-within::before {
  outline: none;
  box-shadow: 0 0 0 1px #fdfdfd, 0 0 0 4px #aac9ff;
}
gux-form-field-radio input[type="radio"]:not(:checked)::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16C3.584 16 0 12.416 0 8C0 3.584 3.584 0 8 0C12.416 0 16 3.584 16 8C16 12.416 12.416 16 8 16ZM8 1.92C4.6464 1.92 1.92 4.6464 1.92 8C1.92 11.3536 4.6464 14.08 8 14.08C11.3536 14.08 14.08 11.3536 14.08 8C14.08 4.6464 11.3536 1.92 8 1.92Z' fill='%2377828f'/%3E%3C/svg%3E");
}
gux-form-field-radio input[type="radio"]:not(:checked):not(:disabled):hover::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16C3.584 16 0 12.416 0 8C0 3.584 3.584 0 8 0C12.416 0 16 3.584 16 8C16 12.416 12.416 16 8 16ZM8 1.92C4.6464 1.92 1.92 4.6464 1.92 8C1.92 11.3536 4.6464 14.08 8 14.08C11.3536 14.08 14.08 11.3536 14.08 8C14.08 4.6464 11.3536 1.92 8 1.92Z' fill='%232a60c8'/%3E%3C/svg%3E");
}
gux-form-field-radio input[type="radio"]:checked::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16C3.584 16 0 12.416 0 8C0 3.584 3.584 0 8 0C12.416 0 16 3.584 16 8C16 12.416 12.416 16 8 16ZM8 1.92C4.6464 1.92 1.92 4.6464 1.92 8C1.92 11.3536 4.6464 14.08 8 14.08C11.3536 14.08 14.08 11.3536 14.08 8C14.08 4.6464 11.3536 1.92 8 1.92Z' fill='%232a60c8'/%3E%3Cpath d='M8 11.84C10.1208 11.84 11.84 10.1208 11.84 8C11.84 5.87923 10.1208 4.16 8 4.16C5.87923 4.16 4.16 5.87923 4.16 8C4.16 10.1208 5.87923 11.84 8 11.84Z' fill='%232a60c8'/%3E%3C/svg%3E");
}
gux-form-field-radio input[type="radio"]:disabled::before {
  cursor: not-allowed;
  opacity: 0.5;
}
gux-form-field-range input[type="range"] {
  position: absolute;
  width: 100%;
  height: 2px;
  margin: 6px 0;
  margin-top: calc(-1 * (12px / 2 + 2px));
  background: transparent;
  -webkit-appearance: none;
}
gux-form-field-range input[type="range"]:focus {
  outline: none;
}
gux-form-field-range input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
}
gux-form-field-range input[type="range"]::-webkit-slider-thumb {
  display: block;
  width: 12px;
  height: 12px;
  cursor: pointer;
  border-radius: 100%;
  margin-top: -5px;
  -webkit-appearance: none;
  background: #2a60c8;
  border: 0 solid #2a60c8;
}
gux-form-field-range input[type="range"]:focus::-webkit-slider-runnable-track {
  background: rgba(13, 13, 13, 0);
}
gux-form-field-range input[type="range"]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
}
gux-form-field-range input[type="range"]::-moz-range-thumb {
  display: block;
  width: 12px;
  height: 12px;
  cursor: pointer;
  border-radius: 100%;
  margin-top: -5px;
  background: #2a60c8;
  border: 0 solid #2a60c8;
}
gux-form-field-range input[type="range"]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  color: transparent;
  background: transparent;
  border-color: transparent;
  border-width: 12px 0;
}
gux-form-field-range input[type="range"]::-ms-fill-lower {
  background: rgba(0, 0, 0, 0);
}
gux-form-field-range input[type="range"]::-ms-fill-upper {
  background: transparent;
}
gux-form-field-range input[type="range"]::-ms-thumb {
  display: block;
  width: 12px;
  height: 12px;
  cursor: pointer;
  border-radius: 100%;
  background: #2a60c8;
  border: 0 solid #2a60c8;
}
gux-form-field-range input[type="range"]:focus::-ms-fill-lower {
  background: transparent;
}
gux-form-field-range input[type="range"]:focus::-ms-fill-upper {
  background: rgba(13, 13, 13, 0);
}
gux-form-field-range.gux-active input[type="range"]::-webkit-slider-thumb {
  outline: none;
  box-shadow: 0 0 0 1px #fdfdfd, 0 0 0 4px #aac9ff;
}
gux-form-field-range.gux-active input[type="range"]::-moz-range-thumb {
  outline: none;
  box-shadow: 0 0 0 1px #fdfdfd, 0 0 0 4px #aac9ff;
}
gux-form-field-range.gux-active input[type="range"]::-ms-thumb {
  outline: none;
  box-shadow: 0 0 0 1px #fdfdfd, 0 0 0 4px #aac9ff;
}
gux-form-field-range input[type="range"]:hover ~ .gux-range-tooltip-container:not(.gux-hidden),
gux-form-field-range input[type="range"]:active ~ .gux-range-tooltip-container:not(.gux-hidden) {
  visibility: visible;
}
gux-form-field-range input[type="range"]:hover ~ .gux-range-tooltip-container:not(.gux-hidden) .gux-range-tooltip,
gux-form-field-range input[type="range"]:active ~ .gux-range-tooltip-container:not(.gux-hidden) .gux-range-tooltip {
  visibility: visible;
}
gux-form-field-search input::-webkit-search-cancel-button,
gux-form-field-search input::-webkit-search-results-button,
gux-form-field-search input::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
gux-table-beta * {
  box-sizing: content-box;
}
gux-table-beta table {
  width: 100%;
  font-size: 12px;
  color: #2e394c;
  white-space: nowrap;
  border-spacing: 0;
}
gux-table-beta table th,
gux-table-beta table td {
  height: 40px;
  padding-right: 12px;
  padding-left: 12px;
  text-align: left;
  border-color: #e2e6ee;
  border-style: solid;
  border-width: 0 1px 1px 0;
}
gux-table-beta table th[data-cell-numeric],
gux-table-beta table td[data-cell-numeric],
gux-table-beta table th[data-cell-action],
gux-table-beta table td[data-cell-action] {
  padding-right: 12px;
  padding-left: 12px;
  text-align: right;
}
gux-table-beta table tr[data-row-id] th,
gux-table-beta table tr[data-row-id] td {
  width: 16px;
  padding-right: 8px;
  padding-left: 12px;
}
gux-table-beta table th:last-child,
gux-table-beta table td:last-child {
  border-right-width: 0;
}
gux-table-beta table thead {
  position: sticky;
  top: 0;
  z-index: 1;
}
gux-table-beta table thead th {
  position: relative;
  background: #fdfdfd;
}
gux-table-beta table thead th.sortable-right-aligned {
  padding-right: 35px;
}
gux-table-beta table thead th.sortable-left-aligned {
  padding-left: 35px;
}
gux-table-beta table tbody tr {
  background: #f6f7f9;
}
gux-table-beta table tbody tr:nth-child(2n) {
  background: #fdfdfd;
}
gux-table-beta[gs-compact] td {
  height: 24px;
}
gux-table-beta[gs-obj-table] tbody th,
gux-table-beta[gs-obj-table] tbody td {
  border-width: 0;
}
gux-table-beta[gs-obj-table] tbody tr:hover {
  background: rgba(117, 168, 255, 0.24);
}
gux-table-beta[gs-obj-table] tbody tr[data-selected-row] td {
  background: rgba(117, 168, 255, 0.24);
}
gux-table-beta[gs-v-scroll] thead th {
  border-bottom-color: rgba(32, 41, 55, 0.1);
  border-bottom-width: 2px;
}
gux-table-beta[gs-h-scroll] tr th:first-child,
gux-table-beta[gs-h-scroll] tr td:first-child {
  padding-left: 36px;
}
gux-table-beta[gs-h-scroll] tr th:last-child,
gux-table-beta[gs-h-scroll] tr td:last-child {
  padding-right: 48px;
}
th:not([data-cell-action], [data-cell-numeric]):has(> gux-sort-control) {
  padding-right: 35px !important;
}
th[data-cell-numeric]:has(> gux-sort-control),
th[data-cell-action]:has(> gux-sort-control) {
  padding-left: 35px !important;
}
gux-button-multi [slot="title"] {
  display: inline-flex;
  align-items: center;
}
gux-button-multi [slot="title"] gux-icon {
  width: 16px;
  height: 16px;
  padding-right: 8px;
}
gux-action-toast dl dt {
  flex: 0 1 20%;
  align-self: auto;
  order: 0;
  margin: 0;
  color: #2e394c;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-weight: 700;
}
gux-action-toast dl dd {
  flex: 0 1 80%;
  align-self: auto;
  order: 0;
  margin: 0;
}

button.gux-primary {
  color: rgb(253, 253, 253);
  background-color: rgb(42, 96, 200);
}

button {
  width: 100%;
  height: 32px;
  padding: 0px 16px;
  overflow: hidden;
  color: rgb(46, 57, 76);
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: auto;
  cursor: pointer;
  background-color: rgb(226, 230, 238);
  border: none;
  border-radius: 4px;
  font-size: 12px;
  line-height: 20px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
}

input {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  place-content: stretch center;
  align-items: center;
  width: 100%;
  height: 32px;
  padding: 4px 8px 4px 12px;
  font-family: inherit;
  font-size: 12px;
  line-height: 1.6667;
  color: rgb(46, 57, 76);
  background-color: rgb(246, 247, 249);
  background-image: none;
  border: 1px solid rgb(107, 117, 133);
  border-radius: 4px;
  box-shadow: rgba(213, 228, 253, 0.16) 0px 0px 4px;
  margin: 1rem auto;
}

input:disabled {
  opacity: 0.5;
}

.toast {
  position: relative;
  display: none;
  flex-flow: row nowrap;
  place-content: stretch flex-start;
  align-items: center;
  width: 286px;
  padding: 8px 16px;
  margin-bottom: 4px;
  color: rgb(46, 57, 76);
  background: rgb(246, 247, 249);
  border: 1px solid rgb(180, 188, 203);
  border-radius: 4px;
  box-shadow: rgb(32 41 55 / 24%) 0px 2px 4px;
}

.toast .gux-icon-container {
  display: flex;
  align-items: center;
}

.toast.show {
  display: flex;
}

.toast button {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 2px;
  color: rgb(89, 99, 115);
  background: transparent;
  border: none;
  border-radius: 4px;
}

svg {
  max-width: 1rem;
  height: 1rem;
  max-height: 100%;
  fill: currentcolor;
  font-size: 1rem;
}

svg.error {
  color: rgb(234, 11, 11);
  margin-top: 0.35rem;
  max-width: 1.5rem;
  height: 1.5rem;
  font-size: 1.5rem;
  flex: 0 1 20%;
}

.message {
  margin: 0 0 0 1rem;
}
