.main-wrapper {
    display: grid;
    place-content: center;
    place-items: center;
    height: 100vh;

}

.main-wrapper__disconnected, .main-wrapper__connected {
    text-align: center;
    margin: 1rem auto;
}

.main-wrapper__connected input {
    max-width: 40%;    
}

.main-wrapper__green-label {
    color: var(--gux-alert-green-70);
}

.main-wrapper__red-label {
    color: var(--gux-alert-red-70);
}

button {
    width: fit-content;
}
